language: objective-c 
osx_image: xcode7.2
xcode_project: Github\ Browser.xcodeproj
xcode_scheme: GitBrowser



script:

  xctool
  -project Github\ Browser.xcodeproj
  -scheme GitBrowser
  -sdk iphonesimulator
  -destination 'platform=iOS Simulator,name=iPhone 6s'
  build 
  test
  ONLY_ACTIVE_ARCH=NO
  CODE_SIGN_IDENTITY=""
  CODE_SIGNING_REQUIRED=NO

before_install:
  - brew update
  - brew uninstall xctool && brew install --HEAD xctool